.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Open sans, sans-serif;
  width: 100%;
}

span {
  font-size: 1rem;
}

h4 {
  line-height: 1.62;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  font-family: Open sans, sans-serif;
  color: #787a80;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 100%;
  }

  input {
    width: 100%;
  }

  button {
    width: 50%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 100%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}